.slide-right-enter-from,
.slide-right-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-right-enter-to,
.slide-right-leave-from {
  transform: translateX(0);
  opacity: 1;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s ease;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.slide-enter-to,
.slide-leave-from {
  transform: translateX(0);
  opacity: 1;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s ease;
}

.dropdown-leave-from,
.dropdown-enter-to {
  max-height: 50rem;
  overflow: hidden;
  // opacity: 1;
}

.dropdown-enter-from,
.dropdown-leave-to {
  overflow: hidden;
  max-height: 0;
  // opacity: 0;
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition: height 0.1s ease-in-out;
}
